@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

.App {
  text-align: center;
  margin: auto auto 8%;
  max-width: 1080px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: url('https://www.freepnglogos.com/uploads/rick-and-morty/rick-and-morty-background-rick-morty-and-man-sky-mashup-wallpaper-taken-from-4.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Gamja Flower', cursive;
  font-size: 1.4rem;
  line-height: 1;
}

h1, h2 {
  color: #fff;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px teal;
}
h1 {
  margin-top: 20px;
}
h2 {
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-size: .8em;
  font-style: italic;
  font-weight: normal;
  margin: 16px auto auto;
}
h3 {
  margin: 10px auto;
}
#logo {
  display: inline-block;
  max-width: 300px;
  vertical-align: middle;
}
.character-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 300px));
  grid-gap: 1.3em;
  margin-top: 40px;
}
#more-characters {
  background-color: teal;
  border-color: #2a5a5b;
  border-style: solid;
  border-width: 1px 1px 8px 1px;
  color: #fff;
  cursor: pointer;
  font-family: 'Gamja Flower';
  font-size: 1em;
  margin-left: 14px;
  margin-top: 20px;
  padding: 4px 10px;
  position: relative;
  text-transform: uppercase;
}
#more-characters:hover {
  background-color: #306f70;
  top: 1px;
}
.character-card {
  background-color: #fff;
  color: teal;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 8px;
  overflow: hidden;
}
.character-card:hover {
  background-color: teal;
  border-radius: 10px 10px 0 0;
  color: white;
}
.character-card img {
  display: block;
}
#Morty {
  bottom: 0;
  left: 20px;
  position: fixed;
  max-width: 130px;
}
#Rick {
  bottom: 0;
  right: -88px;
  position: fixed;
  max-width: 370px;
}
